<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>军转大酒店</title>
    <!-- start: Css -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

</head>
<body>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h3 class="text-center">
                军转大酒店菜单
            </h3>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="form-inline">
                <div class="form-group">
                    <label for="name">时间：</label>
                    <input type="date" name="date" class="form-control" />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label for="name">餐型：</label>
                    <select name="order" class="form-control">
                        <option>早餐</option>
                        <option>午餐</option>
                        <option>晚餐</option>
                    </select>
                </div>
            </div> <br/>

            <div class="form-inline">
                <div class="form-group">
                    <label for="name">地点：</label>
                    <select name="place" class="form-control">
                        <option>二楼包厢</option>
                        <option>三楼包厢</option>
                        <option>吉祥厅</option>
                        <option>如意厅</option>
                        <option>二楼宴会大厅</option>
                        <option>三楼金色宴会厅</option>
                        <option>三楼多功能厅</option>
                        <option>六楼多功能厅</option>
                    </select>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label for="name">类别：</label>
                    <select name="dineType" class="form-control">
                        <option>满月</option>
                        <option>感恩宴</option>
                        <option>谢师宴</option>
                        <option>婚宴</option>
                        <option>乔迁</option>
                    </select>
                </div>
            </div><br/>

            <div class="form-inline">
                <div class="form-group">
                    <label for="name">标准：</label>
                    <input type="number" class="form-control" placeholder="输入价格">
                    <label>元/桌</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label for="name">桌数：</label>
                    <input type="number" class="form-control">
                    <label>-</label>
                    <input type="number" class="form-control">
                    <label>桌</label>
                </div>
            </div><br/>

            <table class="table table-bordered table-hover">
                <tbody>
                <tr>
                    <td>
                        1
                    </td>
                </tr>
                <tr>
                    <td>
                        1
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>


<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.ui.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>