<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>军转大酒店</title>
  <!-- start: Css -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <!-- plugins -->

  <link rel="stylesheet" type="text/css" href="/css/plugins/simple-line-icons.css" />
  <link rel="stylesheet" type="text/css" href="/css/plugins/animate.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/plugins/fullcalendar.min.css" />
  <link href="/css/style.css" rel="stylesheet">
  <!-- end: Css -->
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="/js/html5shiv.min.js"></script>
  <script src="/js/respond.min.js"></script>
  <![endif]-->
</head>

<body id="mimin" class="dashboard">
<!-- start: Header -->
<nav class="navbar navbar-default header navbar-fixed-top">
  <div class="col-md-12 nav-wrapper">
    <div class="navbar-header" style="width:100%;margin-top: 36px;margin-left: -20px">

      <ul class="nav navbar-nav navbar-right user-nav">
        <li class="user-name"><span>管理员</span></li>
        <li class="dropdown avatar-dropdown"> <img src="/img/head.png" class="img-circle avatar" alt="user name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" />
          <ul class="dropdown-menu user-dropdown">
            <li>
              <a href="/user/logout.do"><span class="fa fa-power-off"></span> 退出登录</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- end: Header -->
<div class="container-fluid mimin-wrapper">
  <!-- start:Left Menu -->
  <div id="left-menu">
    <div class="sub-left-menu scroll">
      <ul class="nav nav-list">
        <li>
          <div class="left-bg"></div>
        </li>
        <li class="ripple">
          <a href="javascript:void(0);" class="tree-toggle nav-header"><span class="fa-home fa"></span> 菜品 <span class="fa-angle-right fa right-arrow text-right"></span> </a>

          <ul class="nav nav-list tree">
            <li class="nextli">
              <a href="/food/query?type=位上">位上</a>
            </li>
            <li class="nextli">
              <a href="/food/query?type=汤菜">汤菜</a>
            </li>
            <li class="nextli">
              <a href="/food/query?type=素菜">素菜</a>
            </li>
            <li class="nextli">
              <a href="/food/query?type=河鲜">河鲜</a>
            </li>
            <li class="nextli">
              <a href="/food/query?type=荤菜">荤菜</a>
            </li>
            <li class="nextli">
              <a href="/food/query?type=烧菜">烧菜</a>
            </li>
          </ul>
        </li>


        <li class=" ripple">
          <a href="/dineType" class="sub-tree-toggle nav-header"><span class="fa fa-check-square-o"></span>订餐类别<span class="fa-angle-right fa right-arrow text-right"></span> </a>
        </li>
        <li class="ripple">
          <a href="/foodType" class="sub-tree-toggle nav-header"> <span class="fa-diamond fa"></span>菜品类型<span class="fa-angle-right fa right-arrow text-right"></span> </a>
        </li>
        <li class="ripple">
          <a href="/food" class="sub-tree-toggle nav-header"><span class="fa fa-calendar-o"></span> 菜品添加<span class="fa-angle-right fa right-arrow text-right"></span> </a>
        </li>
        <li class="active ripple">
          <a href="/setmeal" class="sub-tree-toggle nav-header"><span class="fa fa-calendar-o"></span> 套餐列表<span class="fa-angle-right fa right-arrow text-right"></span> </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- end: Left Menu -->

  <!-- start: content -->
  <div id="content">
    <div class="panel" style="background-color: #55b4ff;">
      <div class="panel-body" style="padding: 0px">
        <div class="col-md-6 col-sm-12" style="padding-top: 18px;">
          <h3 class="animated fadeInLeft"> &nbsp;&nbsp; </h3>
          <p class="animated fadeInDown"><span class="fa  fa-map-marker"> &nbsp;&nbsp;</span></p>
        </div>
      </div>
    </div>
    <div id="contents" style="background: white; padding: 5% 8%; margin: 3% 0 0 10%; width: 80%; height: auto;font-size: 16px">
      <table class="table" >
        <caption style="font-size: x-large; text-align: center; margin-bottom: 1%;">套餐列表</caption>
        <thead>
        <tr>
          <th>编号</th>
          <th>时间</th>
          <th>地点</th>
          <th>类别</th>
          <th>标准</th>
          <th>桌数</th>
          <th>更多</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${ setmeals }">
          <td th:text="${ item.id }"></td>
          <td th:text="${ item.bookDate }"></td>
          <td th:text="${ item.place }"></td>
          <td th:text="${ item.dineType }"></td>
          <td th:text="${ item.price }"></td>
          <td th:text="${ item.num }"></td>
          <td>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal" th:id="${item.code}" onclick="loadInfo(this)">更多</button>
          </td>
        </tr>
        </tbody>
      </table><br/>

      <ul class="pagination">
        <li><a th:href="${ pageNum-1<1 ? '/setmeal?pageNum='+1 : '/setmeal?pageNum='+ (pageNum-1) }">&laquo;</a></li>
        <li th:each="i : ${ #numbers.sequence(1,total) }" th:class="${ i==pageNum ? 'active':'' }"><a th:href="${'/setmeal?pageNum='+i}" th:text="${i}"></a></li>
        <li><a th:href="${ pageNum+1 > total ? '/setmeal?pageNum=' + total : '/setmeal?pageNum=' + (pageNum+1) }">&raquo;</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- end: content -->
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="myModalLabel">
          套餐信息
        </h4>
      </div>
      <div class="modal-body">
        <div class="form-inline">
          <div class="form-group">
            <label id="modal_time" class="modal_label" for="name">时间： 2018-08-04 晚餐</label> <br/>
            <label id="modal_place" class="modal_label" for="name">地点： 二楼包厢</label>  <label id="modal_dineType" class="modal_label_right" for="name">类别： 包厢</label> <br/>
            <label id="modal_price" class="modal_label" for="name">标准：1200 元/桌</label>  <label id="modal_num" class="modal_label_right" for="name">桌数： 10 桌</label> <br/>
          </div>
        </div><br/>
        <table id="model_table" class="table table-bordered table-hover" style="width: 86%;">
          <tbody>
          </tbody>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
        </button>
        <button type="button" class="btn btn-primary">
          打  印
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal -->
</div>


<!-- start: Javascript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.ui.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- plugins -->
<script src="/js/plugins/jquery.nicescroll.js"></script>
<script src="/js/main.js"></script>

<script>
    function loadInfo(obj) {
        //加载模态框数据
        var code = $(obj).attr("id");
        $.get("/setmeal/getByCode?code="+code, function(result){
            $('#modal_time').html("时间： " + result.data.bookDate);
            $('#modal_place').html("地点： " + result.data.place);
            $('#modal_dineType').html("类别： " + result.data.dineType);
            $('#modal_price').html( "标准： "+result.data.price +" 元/桌");
            $('#modal_num').html("桌数： " + result.data.num + " 桌");

            $("#model_table").html("");
            for (var i in result.data.items){
                var tmp =  "<tr><td>"+result.data.items[i].foodName+"</td></tr>";
                $(tmp).appendTo($('#model_table'));
            }
        });
    }
</script>
</body>

</html>