<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>军转大酒店</title>
  <!-- start: Css -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <!-- plugins -->

  <link rel="stylesheet" type="text/css" href="/css/plugins/simple-line-icons.css" />
  <link rel="stylesheet" type="text/css" href="/css/plugins/animate.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/plugins/fullcalendar.min.css" />
  <link href="/css/style.css" rel="stylesheet">
  <!-- end: Css -->
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="/js/html5shiv.min.js"></script>
  <script src="/js/respond.min.js"></script>
  <![endif]-->
</head>

<body id="mimin" class="dashboard">
<!-- start: Header -->
<nav class="navbar-default header navbar-fixed-top" style="height:110px;background: rgba(0,0,0,0);background-size:100%">
  <div class="col-md-12 nav-wrapper">
    <div class="navbar-header" style="width:100%;margin-top: 36px;margin-left: -20px; background: rgba(0,0,0,0);">

      <ul class="nav navbar-nav navbar-right user-nav">
        <li class="user-name"><span style="color: white;">管理员</span></li>
        <li class="dropdown avatar-dropdown"> <img src="/img/avatar.jpg;" class="img-circle avatar" alt="user name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <ul class="dropdown-menu user-dropdown">
            <li>
              <a href="/user/logout.do"><span class="fa fa-power-off"></span> 退出登录</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- end: Header -->
<div class="container-fluid mimin-wrapper">
  <!-- start:Left Menu -->
  <div id="left-menu">
    <div class="sub-left-menu scroll" tabindex="5000">
      <ul class="nav nav-list">
        <li>

        </li>
        <li class=" ripple" >
          <a href="/food/query?type=位上" class="sub-tree-toggle nav-header" ><span class="fa-home fa"></span> 菜品 <span class="fa-angle-right fa right-arrow text-right"></span> </a>
        </li>


        <li class=" ripple">
          <a href="/dineType" class="sub-tree-toggle nav-header"><span class="fa-home fa"></span>订餐类别<span class="fa-angle-right fa right-arrow text-right"></span> </a>
        </li>
        <li class="ripple">
          <a href="/foodType"  class="sub-tree-toggle nav-header"> <span class="fa-home fa"></span>菜品类型<span class="fa-angle-right fa right-arrow text-right"></span> </a>
        </li>
        <li class=" ripple">
          <a href="/food" class="sub-tree-toggle nav-header"><span class="fa-home fa"></span> 菜品添加<span class="fa-angle-right fa right-arrow text-right"></span> </a>
        </li>
        <li class="active ripple">
          <a href="/setmeal" class="sub-tree-toggle nav-header"><span class="fa-home fa"></span> 套餐列表<span class="fa-angle-right fa right-arrow text-right"></span> </a>
        </li>


      </ul>
    </div>
  </div>
  <!-- end: Left Menu -->

  <!-- start: content -->
  <div id="content">

    <div id="contents" >
      <table class="table" >
        <caption >套餐列表</caption>
        <thead>
        <tr>
          <th>编号</th>
          <th>时间</th>
          <th>地点</th>
          <th>类别</th>
          <th>标准</th>
          <th>桌数</th>
          <th>更多</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${ setmeals }">
          <td th:text="${ item.id }"></td>
          <td th:text="${ item.bookDate }"></td>
          <td th:text="${ item.place }"></td>
          <td th:text="${ item.dineType }"></td>
          <td th:text="${ item.price }"></td>
          <td th:text="${ item.num }"></td>
          <td>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal" th:id="${item.code}" onclick="loadInfo(this)">更多</button>
          </td>
        </tr>
        </tbody>
      </table><br/>

      <ul class="pagination" th:if="${total>1}">
        <li><a th:href="${ pageNum-1<1 ? '/setmeal?pageNum='+1 : '/setmeal?pageNum='+ (pageNum-1) }">&laquo;</a></li>
        <li th:each="i : ${ #numbers.sequence(1,total) }" th:class="${ i==pageNum ? 'active':'' }"><a th:href="${'/setmeal?pageNum='+i}" th:text="${i}"></a></li>
        <li><a th:href="${ pageNum+1 > total ? '/setmeal?pageNum=' + total : '/setmeal?pageNum=' + (pageNum+1) }">&raquo;</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- end: content -->
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="myModalLabel">
          套餐信息
        </h4>
      </div>
      <div class="modal-body">
        <div class="form-inline">
          <div class="form-group">
            <label  class="modal_label" for="name">首次时间： <span id="modal_time">2018-08-04 晚餐</span></label> <br/>
            <div id="chosenext">
              <label for="name" id="modal_newtime" class="modal_label">本次时间：</label>
              <input type="date" name="date" class="form-control " id="date_input"/>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <label for="name" class="modal_label">餐型：</label>
              <select name="order" class="form-control" id="foodType">
                <option>午餐</option>
                <option>晚餐</option>
              </select>
            </div>
            <br/>
            <label  class="modal_label" for="name">地点：<span id="modal_place"> 二楼包厢</span></label>  <label  class="modal_label_right" for="name">类别：<span id="modal_dineType">包厢</span> </label> <br/>
            <label class="modal_label" for="name">标准：<u>&nbsp;<span  id="modal_price">1200</span>&nbsp;&nbsp;</u> 元/桌</label>  <label  class="modal_label_right" for="name">桌数：<u>&nbsp;<span id="modal_num">10</span>&nbsp;&nbsp;</u> 桌 </label> <br/>
          </div>
        </div><br/>
        <table id="model_table" class="table table-bordered table-hover" style="width: 86%; margin-left: 5%">
          <tbody>
          </tbody>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
        </button>
        <button type="button" class="btn btn-primary" id="printBtn">
          打  印
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal -->
  <div id="showError"></div>
</div>


<!-- start: Javascript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.ui.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- plugins -->
<script src="/js/plugins/jquery.nicescroll.js"></script>
<script src="/js/main.js"></script>
<script src="/js/index_model.js"></script>
<script src="/js/LodopFuncs.js"></script>

<script>
    function loadInfo(obj) {
        //加载模态框数据
        var code = $(obj).attr("id");
        //将打印后的时间选择显示出来div
        $("#chosenext").show();
        //每次将输入框置空
        $("#date_input").val("");
        //清空错误列表
        $("#showError").empty();

        $.get("/setmeal/getByCode?code="+code, function(result){
            $('#modal_time').html(" <u>&nbsp;" + result.data.bookDate+"&nbsp;&nbsp;</u>");
            $('#modal_place').html(" <u>&nbsp;" + result.data.place + "&nbsp;&nbsp;</u>");
            $('#modal_dineType').html(" <u>&nbsp;" + result.data.dineType + "&nbsp;&nbsp;</u>" );
            $('#modal_price').html(result.data.price);
            $('#modal_num').html(result.data.num);

            $("#model_table").html("");
            for (var i in result.data.items){
                var tmp =  "<tr><td>"+result.data.items[i].foodName+"</td></tr>";
                $(tmp).appendTo($('#model_table'));
            }
        });
    }

</script>
</body>

</html>